@{
    ViewData["Title"] = "Galeria de Fotos";
}
<h3>@ViewData["Title"]</h3>

<div class="container">
    <div class="jumbotron col-10" style="background-color: yellow;">
        <figure>

            <img src="img/paofrances.png" class="img-fluid">
            <a>&nbsp; &nbsp;</a>
            <img src="img/paocarteira.png" class="img-fluid">
            <a>&nbsp; &nbsp;</a>
            <img src="img/paofrances.png" class="img-fluid">
            <a>&nbsp; &nbsp;</a>

        </figure>
    </div>

</div>
