@{
    ViewData["Title"] = "Bem Vindo ao Nosso Site!";
}
<h3>@ViewData["Title"]</h3>

<div class="container">
    <div class="jumbotron col-6" style="background-color: yellow;">

        <p> Para fazer seus Pedidos Clique no Link:" Faça seu Pedido" </p>

    </div>


</div>
