@{
    ViewData["Title"] = "Obrigado pela Compra e Aguarde Nossa Entrega!";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Formulario" class="btn btn-large btn-warning text-warning" style="background-color: red"
        style="border-radius: 0.5em;" style="text-shadow: 2px 2xp 2px rgba(0,0,0,0,5)">Adicionar outro Pedido</a>
</p>
